/*
!.gitignore
!.gitconfig
!.xinitrc
!.xserverrc
!.profile
!.bashrc
!.bash_profile
!.bash_logout
!.hushlogin
!.Xresources
!scripts
!pictures
pictures/*
!pictures/backgrounds
!.config
.config/*
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/i3
!.config/i3blocks
!.config/paru
!.config/gtk-3.0
!.config/gtk-4.0
!.config/delta
!.config/zed
.config/zed/*
!.config/zed/settings.json
