/*
!.gitignore
!.gitconfig
!.xinitrc
!.profile
!.bashrc
!.bash_profile
!.bash_logout
!.hushlogin
!.Xresources
!scripts
!pictures
pictures/*
!pictures/backgrounds
!.config
.config/*
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/i3
!.config/i3blocks
!.config/paru
