@import "config"

window {
   width: 25%;
   border: 7px;
   border-color: @bg;
}

listview {
   enabled: false;
}

inputbar {
   enabled: true;
   border: 0;
   padding: 15px;
   background-color: @bg-light;
}

entry {
   font: "Monospace 16";
   placeholder: "Enter password";
}
