prefer-no-csd
screenshot-path "~/pictures/screenshots/%Y-%m-%d %H:%M:%S.png"

input {
   disable-power-key-handling

   keyboard {
      repeat-delay 170
      repeat-rate 120

      xkb {
         layout "hr"
      }
   }

   mouse {
      accel-speed 0.5
      accel-profile "flat"
      scroll-factor 1.5
   }

   touchpad {
      accel-speed 0.8
      accel-profile "flat"
      scroll-factor 1.2
      natural-scroll
      click-method "clickfinger"
   }

   touch {
      map-to-output "eDP-1"
   }
}

output "Lenovo Group Limited LEN Y27q-20 0x01010101" {
   mode "2560x1440"
   scale 1.0
   position x=-2560 y=0
   focus-at-startup
}

output "Sharp Corporation 0x14D6 Unknown" {
   mode "3840x2400"
   scale 2.0
   position x=0 y=0
   focus-at-startup
}

output "AU Optronics 0x5B2D Unknown" {
   mode "1920x1080"
   scale 1.0
   position x=0 y=0
   focus-at-startup
}

output "Philips Consumer Electronics Company Philips FTV 0x01010101" {
   mode "3840x2160"
   scale 2.0
   position x=0 y=-1080
}

clipboard {
   disable-primary
}

cursor {
   xcursor-theme "Bibata-Modern-Ice"
   xcursor-size 32
}

hotkey-overlay {
   skip-at-startup
}

gestures {
   dnd-edge-view-scroll {
      trigger-width 50
      delay-ms 0
      max-speed 6000
   }

   dnd-edge-workspace-switch {
      trigger-height 50
      delay-ms 0
      max-speed 6000
   }
}

debug {
   enable-overlay-planes
   render-drm-device "/dev/dri/renderD129"
   honor-xdg-activation-with-invalid-serial
}

overview {
   zoom 0.5

   workspace-shadow {
      off
   }
}

layout {
   gaps 6
   center-focused-column "never"
   always-center-single-column
   empty-workspace-above-first
   background-color "transparent"

   default-column-width {
      proportion 0.5
   }

   focus-ring {
      off
   }

   border {
      width 2
      active-color "#b7bdf8"             // https://catppuccin.com/palette - Macchiato Lavender
      inactive-color "#5b6078"           // https://catppuccin.com/palette - Macchiato Surface 2
      urgent-color "#ed8796"             // https://catppuccin.com/palette - Macchiato Red
   }
   insert-hint {
      color "#b7bdf87d"                  // https://catppuccin.com/palette - Macchiato Lavender
   }

   struts {
      left 0
      right 0
      top 0
      bottom -6
   }
}

layer-rule {
    match namespace="wallpaper"

    place-within-backdrop true
}

layer-rule {
   match namespace="rofi"

   geometry-corner-radius 15

   shadow {
      on
   }
}

window-rule {
   draw-border-with-background false
   geometry-corner-radius 12
   clip-to-geometry true
   min-width 300
   min-height 150
}

window-rule {
   match is-floating=true

   border {
      active-color "#c6a0f6c8"                  // https://catppuccin.com/palette - Macchiato Mauve
      inactive-color "#c6a0f664"                // https://catppuccin.com/palette - Macchiato Mauve
   }

   shadow {
      on
   }
}

window-rule {
   match is-floating=true
   exclude is-focused=true

   opacity 0.85
}

window-rule {
   match app-id="zed"
   match app-id="merge"
   match app-id="brave"

   open-maximized-to-edges true
}

window-rule {
   match app-id="mpv"
   match app-id="Mesen"
   exclude app-id="Mesen" title="Settings"

   open-fullscreen true
}

window-rule {
   match app-id="org.gnome.Nautilus"
   match app-id="org.gnome.SystemMonitor"
   match app-id="calendar"
   match app-id="Mesen" title="Settings"

   open-floating true
   open-focused true

   default-column-width {
      proportion 0.6;
   }

   default-window-height {
      proportion 0.6;
   }
}

binds {
   Mod+Left                      cooldown-ms=50 { focus-column-left; }
   Mod+A                         cooldown-ms=50 { focus-column-left; }
   Mod+Right                     cooldown-ms=50 { focus-column-right; }
   Mod+D                         cooldown-ms=50 { focus-column-right; }
   Mod+Up                        cooldown-ms=50 { focus-window-or-workspace-up; }
   Mod+W                         cooldown-ms=50 { focus-window-or-workspace-up; }
   Mod+Down                      cooldown-ms=50 { focus-window-or-workspace-down; }
   Mod+S                         cooldown-ms=50 { focus-window-or-workspace-down; }
   Mod+Ctrl+Left                 cooldown-ms=50 { focus-monitor-left; }
   Mod+Ctrl+A                    cooldown-ms=50 { focus-monitor-left; }
   Mod+Ctrl+Right                cooldown-ms=50 { focus-monitor-right; }
   Mod+Ctrl+D                    cooldown-ms=50 { focus-monitor-right; }
   Mod+Ctrl+Up                   cooldown-ms=50 { focus-monitor-up; }
   Mod+Ctrl+W                    cooldown-ms=50 { focus-monitor-up; }
   Mod+Ctrl+Down                 cooldown-ms=50 { focus-monitor-down; }
   Mod+Ctrl+S                    cooldown-ms=50 { focus-monitor-down; }
   Mod+Shift+Left                cooldown-ms=50 { move-column-left; }
   Mod+Shift+A                   cooldown-ms=50 { move-column-left; }
   Mod+Shift+Right               cooldown-ms=50 { move-column-right; }
   Mod+Shift+D                   cooldown-ms=50 { move-column-right; }
   Mod+Shift+Up                  cooldown-ms=50 { move-window-up-or-to-workspace-up; }
   Mod+Shift+W                   cooldown-ms=50 { move-window-up-or-to-workspace-up; }
   Mod+Shift+Down                cooldown-ms=50 { move-window-down-or-to-workspace-down; }
   Mod+Shift+S                   cooldown-ms=50 { move-window-down-or-to-workspace-down; }
   Mod+Shift+Ctrl+Left           cooldown-ms=50 { move-window-to-monitor-left; }
   Mod+Shift+Ctrl+A              cooldown-ms=50 { move-window-to-monitor-left; }
   Mod+Shift+Ctrl+Right          cooldown-ms=50 { move-window-to-monitor-right; }
   Mod+Shift+Ctrl+D              cooldown-ms=50 { move-window-to-monitor-right; }
   Mod+Shift+Ctrl+Up             cooldown-ms=50 { move-window-to-monitor-up; }
   Mod+Shift+Ctrl+W              cooldown-ms=50 { move-window-to-monitor-up; }
   Mod+Shift+Ctrl+Down           cooldown-ms=50 { move-window-to-monitor-down; }
   Mod+Shift+Ctrl+S              cooldown-ms=50 { move-window-to-monitor-down; }
   Mod+Tab                         repeat=false { focus-workspace-previous; }
   Mod+1                           repeat=false { focus-workspace 2; }
   Mod+2                           repeat=false { focus-workspace 3; }
   Mod+3                           repeat=false { focus-workspace 4; }
   Mod+4                           repeat=false { focus-workspace 5; }
   Mod+5                           repeat=false { focus-workspace 6; }
   Mod+Shift+1                     repeat=false { move-window-to-workspace 2; }
   Mod+Shift+2                     repeat=false { move-window-to-workspace 3; }
   Mod+Shift+3                     repeat=false { move-window-to-workspace 4; }
   Mod+Shift+4                     repeat=false { move-window-to-workspace 5; }
   Mod+Shift+5                     repeat=false { move-window-to-workspace 6; }
   Mod+Home                        repeat=false { focus-column-first; }
   Mod+End                         repeat=false { focus-column-last; }
   Mod+Shift+Home                  repeat=false { move-column-to-first; }
   Mod+Shift+End                   repeat=false { move-column-to-last; }
   Mod+Page_Up                   cooldown-ms=50 { focus-workspace-up; }
   Mod+Page_Down                 cooldown-ms=50 { focus-workspace-down; }
   Mod+Shift+Page_Up             cooldown-ms=50 { move-workspace-up; }
   Mod+Shift+Page_Down           cooldown-ms=50 { move-workspace-down; }
   Mod+WheelScrollUp             cooldown-ms=50 { focus-workspace-up; }
   Mod+WheelScrollDown           cooldown-ms=50 { focus-workspace-down; }
   Mod+Shift+WheelScrollUp       cooldown-ms=50 { move-workspace-up; }
   Mod+Shift+WheelScrollDown     cooldown-ms=50 { move-workspace-down; }
   Print                           repeat=false { screenshot-screen; }
   Ctrl+Print                      repeat=false { screenshot; }
   Alt+Print                       repeat=false { screenshot-window; }
   Shift+Print                     repeat=false { spawn "screen-capture"; }
   Shift+Alt+Print                 repeat=false { spawn "screen-capture" "--audio"; }
   Shift+Ctrl+Print                repeat=false { spawn "screen-capture" "--selection"; }
   Shift+Ctrl+Alt+Print            repeat=false { spawn "screen-capture" "--selection" "--audio"; }
   XF86AudioLowerVolume  allow-when-locked=true { spawn "volume" "down"; }
   Mod+F1                allow-when-locked=true { spawn "volume" "down"; }
   XF86AudioRaiseVolume  allow-when-locked=true { spawn "volume" "up"; }
   Mod+F2                allow-when-locked=true { spawn "volume" "up"; }
   XF86AudioMute         allow-when-locked=true { spawn "volume" "mute"; }
   XF86MonBrightnessUp   allow-when-locked=true { spawn "brightness" "up"; }
   Mod+F3                allow-when-locked=true { spawn "brightness" "down"; }
   XF86MonBrightnessDown allow-when-locked=true { spawn "brightness" "down"; }
   Mod+F4                allow-when-locked=true { spawn "brightness" "up"; }
   Mod+Minus                                    { set-column-width  "-12.5%"; }
   Mod+Plus                                     { set-column-width  "+12.5%"; }
   Mod+Shift+Minus                              { set-window-height "-12.5%"; }
   Mod+Shift+Plus                               { set-window-height "+12.5%"; }
   Mod+Q                           repeat=false { close-window; }
   Mod+Shift+Q                     repeat=false { spawn "niri-close-other-windows" "--in-workspace"; }
   Mod+Shift+Ctrl+Q                repeat=false { spawn "niri-close-other-windows"; }
   Mod+E                           repeat=false { spawn "niri-maximize"; }
   Mod+Shift+E                     repeat=false { fullscreen-window; }
   Mod+R                           repeat=false { consume-window-into-column; }
   Mod+Shift+R                     repeat=false { expel-window-from-column; }
   Mod+F                           repeat=false { spawn "niri-float"; }
   Mod+Shift+F                     repeat=false { switch-focus-between-floating-and-tiling; }
   Mod+Escape                      repeat=false { toggle-overview; }
   Mod+F5                          repeat=false { spawn "yambar-toggle"; }
   Mod+F12                         repeat=false { spawn "niri-toggle-laptop-screen"; }
   Mod+Grave                       repeat=false { spawn "toggle" "rofi -show combi -config ~/.config/rofi/launcher.rasi"; }
   Mod+Return                      repeat=false { spawn "foot"; }
   Mod+Shift+Return                repeat=false { spawn-sh "foot --working-directory=\"$(ycwd $(niri msg --json focused-window | jq -c -r .pid))\""; }
   Mod+Less                        repeat=false { spawn "niri-open" "foot"; }
   Mod+Shift+Less                  repeat=false { spawn "foot"; }
   Mod+Y                           repeat=false { spawn "niri-open" "nautilus" "org.gnome.Nautilus"; }
   Mod+Shift+Y                     repeat=false { spawn "nautilus" "--new-window"; }
   Mod+X                           repeat=false { spawn "niri-open" "brave" "brave-browser"; }
   Mod+Shift+X                     repeat=false { spawn "brave"; }
   Mod+C                           repeat=false { spawn "niri-open" "zeditor" "dev.zed.Zed"; }
   Mod+Shift+C                     repeat=false { spawn "zeditor"; }
   Mod+V                           repeat=false { spawn "niri-open" "smerge" "sublime_merge"; }
   Mod+Shift+V                     repeat=false { spawn "smerge" "--new-window"; }
   Ctrl+Alt+Delete                 repeat=false { spawn "gnome-system-monitor"; }
}

spawn-at-startup "swaybg" "-i" "pictures/wallpapers/wallpaper.jpg"
spawn-at-startup "brightness" "50" "--silent"
spawn-at-startup "volume" "50" "--silent"
spawn-at-startup "yambar-toggle"
spawn-at-startup "niri-on-outputs-change" "yambar-toggle --refresh; brightness detect-buses; hdmi-switch-sound"
spawn-at-startup "night-light" "auto" "--silent"
spawn-at-startup "swayidle" "-w" "timeout" "900" "screen-lock" "timeout" "1800" "systemctl suspend" "before-sleep" "screen-lock"
spawn-at-startup "sway-audio-idle-inhibit"
spawn-at-startup "play-sound" "windows-xp-logon"
