prefer-no-csd
screenshot-path "~/pictures/screenshots/%Y-%m-%d %H:%M:%S.png"

input {
   disable-power-key-handling

   keyboard {
      repeat-delay 170
      repeat-rate 120

      xkb {
         layout "hr"
      }
   }

   mouse {
      accel-speed 0.5
      accel-profile "flat"
      scroll-factor 1.5
   }

   touchpad {
      accel-speed 0.8
      accel-profile "flat"
      scroll-factor 1.2
      natural-scroll
      click-method "clickfinger"
   }

   touch {
      map-to-output "eDP-1"
   }
}

output "Sharp Corporation 0x14D6 Unknown" {
   mode "3840x2400"
   scale 2.0
}

output "Lenovo Group Limited LEN Y27q-20 0x01010101" {
   mode "2560x1440"
   variable-refresh-rate
   scale 1.0
}

output "Philips Consumer Electronics Company Philips FTV 0x01010101" {
   mode "3840x2160"
   scale 2.0
}

clipboard {
   disable-primary
}

cursor {
   xcursor-theme "Bibata-Modern-Ice"
   xcursor-size 32
}

hotkey-overlay {
   skip-at-startup
}

gestures {
   dnd-edge-view-scroll {
      trigger-width 50
      delay-ms 0
      max-speed 6000
   }

   dnd-edge-workspace-switch {
      trigger-height 50
      delay-ms 0
      max-speed 6000
   }
}

debug {
   enable-overlay-planes
   render-drm-device "/dev/dri/card1"
}

overview {
   zoom 0.5
   backdrop-color "#11111B"

   workspace-shadow {
      off
   }
}

layout {
   gaps 10
   center-focused-column "never"
   always-center-single-column
   empty-workspace-above-first
   background-color "#11111B"

   preset-column-widths {
      proportion 0.5
      proportion 1.0
   }

   default-column-width {
      proportion 0.5
   }

   focus-ring {
      off
   }

   border {
      width 2
      active-color "#CBA6F7B3"
      inactive-color "#313244B3"
      urgent-color "#FF515D"
   }

   insert-hint {
      color "#CBA6F766"
   }

   struts {
      left -10
      right -10
      top -10
      bottom -10
   }
}

layer-rule {
   match namespace="rofi"

   geometry-corner-radius 15

   shadow {
      on
   }
}

window-rule {
   draw-border-with-background false
   geometry-corner-radius 12
   clip-to-geometry true
   min-width 300
   min-height 150
}

window-rule {
   match is-floating=true

   border {
      active-color "#89B4FA"
      inactive-color "#4D6084"
   }

   shadow {
      on
   }
}

window-rule {
   match app-id="org.gnome.Nautilus"
   match app-id="org.gnome.SystemMonitor"
   match app-id="calendar"

   open-floating true

   default-column-width {
      proportion 0.5;
   }

   default-window-height {
      proportion 0.5;
   }
}

window-rule {
   match app-id="zed"
   match app-id="merge"
   match app-id="librewolf"

   default-column-width {
      proportion 1.0
   }
}

binds {
   Mod+Left                      cooldown-ms=50 { focus-column-left; }
   Mod+A                         cooldown-ms=50 { focus-column-left; }
   Mod+Right                     cooldown-ms=50 { focus-column-right; }
   Mod+D                         cooldown-ms=50 { focus-column-right; }
   Mod+Up                        cooldown-ms=50 { focus-window-or-workspace-up; }
   Mod+W                         cooldown-ms=50 { focus-window-or-workspace-up; }
   Mod+Down                      cooldown-ms=50 { focus-window-or-workspace-down; }
   Mod+S                         cooldown-ms=50 { focus-window-or-workspace-down; }
   Mod+Ctrl+Left                 cooldown-ms=50 { focus-monitor-left; }
   Mod+Ctrl+A                    cooldown-ms=50 { focus-monitor-left; }
   Mod+Ctrl+Right                cooldown-ms=50 { focus-monitor-right; }
   Mod+Ctrl+D                    cooldown-ms=50 { focus-monitor-right; }
   Mod+Ctrl+Up                   cooldown-ms=50 { focus-monitor-up; }
   Mod+Ctrl+W                    cooldown-ms=50 { focus-monitor-up; }
   Mod+Ctrl+Down                 cooldown-ms=50 { focus-monitor-down; }
   Mod+Ctrl+S                    cooldown-ms=50 { focus-monitor-down; }
   Mod+Shift+Left                cooldown-ms=50 { move-column-left; }
   Mod+Shift+A                   cooldown-ms=50 { move-column-left; }
   Mod+Shift+Right               cooldown-ms=50 { move-column-right; }
   Mod+Shift+D                   cooldown-ms=50 { move-column-right; }
   Mod+Shift+Up                  cooldown-ms=50 { move-window-up-or-to-workspace-up; }
   Mod+Shift+W                   cooldown-ms=50 { move-window-up-or-to-workspace-up; }
   Mod+Shift+Down                cooldown-ms=50 { move-window-down-or-to-workspace-down; }
   Mod+Shift+S                   cooldown-ms=50 { move-window-down-or-to-workspace-down; }
   Mod+Shift+Ctrl+Left           cooldown-ms=50 { move-window-to-monitor-left; }
   Mod+Shift+Ctrl+A              cooldown-ms=50 { move-window-to-monitor-left; }
   Mod+Shift+Ctrl+Right          cooldown-ms=50 { move-window-to-monitor-right; }
   Mod+Shift+Ctrl+D              cooldown-ms=50 { move-window-to-monitor-right; }
   Mod+Shift+Ctrl+Up             cooldown-ms=50 { move-window-to-monitor-up; }
   Mod+Shift+Ctrl+W              cooldown-ms=50 { move-window-to-monitor-up; }
   Mod+Shift+Ctrl+Down           cooldown-ms=50 { move-window-to-monitor-down; }
   Mod+Shift+Ctrl+S              cooldown-ms=50 { move-window-to-monitor-down; }
   Mod+Tab                         repeat=false { focus-workspace-previous; }
   Mod+1                           repeat=false { focus-workspace 2; }
   Mod+2                           repeat=false { focus-workspace 3; }
   Mod+3                           repeat=false { focus-workspace 4; }
   Mod+4                           repeat=false { focus-workspace 5; }
   Mod+5                           repeat=false { focus-workspace 6; }
   Mod+Shift+1                     repeat=false { move-window-to-workspace 2; }
   Mod+Shift+2                     repeat=false { move-window-to-workspace 3; }
   Mod+Shift+3                     repeat=false { move-window-to-workspace 4; }
   Mod+Shift+4                     repeat=false { move-window-to-workspace 5; }
   Mod+Shift+5                     repeat=false { move-window-to-workspace 6; }
   Mod+Home                        repeat=false { focus-column-first; }
   Mod+End                         repeat=false { focus-column-last; }
   Mod+Shift+Home                  repeat=false { move-column-to-first; }
   Mod+Shift+End                   repeat=false { move-column-to-last; }
   Mod+Page_Up                   cooldown-ms=50 { focus-workspace-up; }
   Mod+Page_Down                 cooldown-ms=50 { focus-workspace-down; }
   Mod+Shift+Page_Up             cooldown-ms=50 { move-workspace-up; }
   Mod+Shift+Page_Down           cooldown-ms=50 { move-workspace-down; }
   Mod+WheelScrollUp             cooldown-ms=50 { focus-workspace-up; }
   Mod+WheelScrollDown           cooldown-ms=50 { focus-workspace-down; }
   Mod+Shift+WheelScrollUp       cooldown-ms=50 { move-workspace-up; }
   Mod+Shift+WheelScrollDown     cooldown-ms=50 { move-workspace-down; }
   Print                           repeat=false { screenshot-screen; }
   Ctrl+Print                      repeat=false { screenshot; }
   Alt+Print                       repeat=false { screenshot-window; }
   Shift+Print                     repeat=false { spawn "screen-capture"; }
   Shift+Alt+Print                 repeat=false { spawn "screen-capture" "--audio"; }
   Shift+Ctrl+Print                repeat=false { spawn "screen-capture" "--selection"; }
   Shift+Ctrl+Alt+Print            repeat=false { spawn "screen-capture" "--selection" "--audio"; }
   XF86AudioLowerVolume  allow-when-locked=true { spawn "volume" "down"; }
   Mod+F1                allow-when-locked=true { spawn "volume" "down"; }
   XF86AudioRaiseVolume  allow-when-locked=true { spawn "volume" "up"; }
   Mod+F2                allow-when-locked=true { spawn "volume" "up"; }
   XF86AudioMute         allow-when-locked=true { spawn "volume" "mute"; }
   XF86MonBrightnessUp   allow-when-locked=true { spawn "brightness" "up"; }
   Mod+F3                allow-when-locked=true { spawn "brightness" "down"; }
   XF86MonBrightnessDown allow-when-locked=true { spawn "brightness" "down"; }
   Mod+F4                allow-when-locked=true { spawn "brightness" "up"; }
   Mod+Minus                                    { set-column-width  "-12.5%"; }
   Mod+Plus                                     { set-column-width  "+12.5%"; }
   Mod+Shift+Minus                              { set-window-height "-12.5%"; }
   Mod+Shift+Plus                               { set-window-height "+12.5%"; }
   Mod+Q                           repeat=false { close-window; }
   Mod+E                           repeat=false { switch-preset-column-width; }
   Mod+Shift+E                     repeat=false { fullscreen-window; }
   Mod+R                           repeat=false { consume-window-into-column; }
   Mod+Shift+R                     repeat=false { expel-window-from-column; }
   Mod+F                           repeat=false { toggle-window-floating; }
   Mod+Shift+F                     repeat=false { switch-focus-between-floating-and-tiling; }
   Mod+Escape                      repeat=false { toggle-overview; }
   Mod+F5                          repeat=false { spawn "yambar-toggle"; }
   Mod+Grave                       repeat=false { spawn "toggle" "rofi -show combi -config ~/.config/rofi/launcher.rasi"; }
   Mod+Return                      repeat=false { spawn "foot"; }
   Mod+Shift+Return                repeat=false { spawn "bash" "-c" "foot --working-directory=\"$(ycwd $(niri msg --json focused-window | jq .pid))\""; }
   Ctrl+Alt+Delete                 repeat=false { spawn "gnome-system-monitor"; }
}

environment {
   DISPLAY ":12"
}

spawn-at-startup "yambar-toggle"
spawn-at-startup "xwayland-satellite" ":12"
spawn-at-startup "swayidle" "-w" "timeout" "900" "screen-lock" "timeout" "1800" "systemctl suspend" "before-sleep" "screen-lock"
spawn-at-startup "audio-inhibit-idle"
spawn-at-startup "play-startup-sound"
